In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/global_spotify_charts.csv', index_col = [0])
df

,track_id,song_title,country,date,position,streams,artists,artist_genres,duration_minutes,explicit,year,month
0,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-07,44,2858282,Maroon 5,['pop'],3.998667,False,2014,9
1,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-14,42,3010512,Maroon 5,['pop'],3.998667,False,2014,9
2,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-21,44,2889074,Maroon 5,['pop'],3.998667,False,2014,9
3,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-10-26,120,1178667,Maroon 5,['pop'],3.998667,False,2014,10
4,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-11-02,141,1074373,Maroon 5,['pop'],3.998667,False,2014,11
...,...,...,...,...,...,...,...,...,...,...,...,...
86318,790MhTXPFrYkrqCKvpg4t1,Wanted You (feat. Lil Uzi Vert),global,2018-02-01,163,4622213,"NAV, Lil Uzi Vert","['melodic rap', 'canadian trap', 'toronto rap'...",3.801333,True,2018,2
86319,790MhTXPFrYkrqCKvpg4t1,Wanted You (feat. Lil Uzi Vert),global,2018-02-08,142,4679181,"NAV, Lil Uzi Vert","['melodic rap', 'canadian trap', 'toronto rap'...",3.801333,True,2018,2
86320,790MhTXPFrYkrqCKvpg4t1,Wanted You (feat. Lil Uzi Vert),global,2018-02-15,152,4588123,"NAV, Lil Uzi Vert","['melodic rap', 'canadian trap', 'toronto rap'...",3.801333,True,2018,2
86321,790MhTXPFrYkrqCKvpg4t1,Wanted You (feat. Lil Uzi Vert),global,2018-02-22,156,4278455,"NAV, Lil Uzi Vert","['melodic rap', 'canadian trap', 'toronto rap'...",3.801333,True,2018,2
86322,790MhTXPFrYkrqCKvpg4t1,Wanted You (feat. Lil Uzi Vert),global,2018-03-01,163,4193723,"NAV, Lil Uzi Vert","['melodic rap', 'canadian trap', 'toronto rap'...",3.801333,True,2018,3

# DRAKE over the years

In [5]:
df_drake = df[df['artists'].str.contains('Drake')]
df_drake

,track_id,song_title,country,date,position,streams,artists,artist_genres,duration_minutes,explicit,year,month
386,2IRZnDFmlqMuOrYOLnZZyc,Going Bad (feat. Drake),global,2018-12-06,11,17883199,"Meek Mill, Drake","['pop rap', 'southern hip hop', 'canadian pop'...",3.008700,True,2018,12
387,2IRZnDFmlqMuOrYOLnZZyc,Going Bad (feat. Drake),global,2018-12-13,13,16466449,"Meek Mill, Drake","['pop rap', 'southern hip hop', 'canadian pop'...",3.008700,True,2018,12
388,2IRZnDFmlqMuOrYOLnZZyc,Going Bad (feat. Drake),global,2018-12-20,15,16942004,"Meek Mill, Drake","['pop rap', 'southern hip hop', 'canadian pop'...",3.008700,True,2018,12
389,2IRZnDFmlqMuOrYOLnZZyc,Going Bad (feat. Drake),global,2018-12-27,24,15306298,"Meek Mill, Drake","['pop rap', 'southern hip hop', 'canadian pop'...",3.008700,True,2018,12
390,2IRZnDFmlqMuOrYOLnZZyc,Going Bad (feat. Drake),global,2019-01-03,13,16204182,"Meek Mill, Drake","['pop rap', 'southern hip hop', 'canadian pop'...",3.008700,True,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...
85608,1v1IXPXl73Z7zy6f5tUa9n,Emotionless,global,2018-07-19,61,7924641,Drake,"['canadian pop', 'toronto rap', 'canadian hip ...",5.036217,True,2018,7
85609,1v1IXPXl73Z7zy6f5tUa9n,Emotionless,global,2018-07-26,112,5275655,Drake,"['canadian pop', 'toronto rap', 'canadian hip ...",5.036217,True,2018,7
85610,1v1IXPXl73Z7zy6f5tUa9n,Emotionless,global,2018-08-02,169,4049374,Drake,"['canadian pop', 'toronto rap', 'canadian hip ...",5.036217,True,2018,8
85962,42m3eP1JJhtzffal9B136J,7am On Bridle Path,global,2021-09-09,27,18180843,Drake,"['canadian pop', 'toronto rap', 'canadian hip ...",3.993917,True,2021,9
85963,42m3eP1JJhtzffal9B136J,7am On Bridle Path,global,2021-09-16,162,5693268,Drake,"['canadian pop', 'toronto rap', 'canadian hip ...",3.993917,True,2021,9

In [8]:
df_drake_by_year = df_drake.groupby(['year']).agg('sum').sort_values('year', ascending=True)
df_drake_by_year

      position     streams  duration_minutes  explicit  month
year
2013       888    68171661        137.464783        12    326
2014      4302   110007292        245.775183        12    481
2015     55789  1252640045       1869.131500       361   3312
2016     54025  4204926700       2206.626217       506   4094
2017     39191  2468474843       1389.701833       271   1784
2018     34800  5743962743       1604.852333       387   3394
2019     30553  2359136353       1012.468117       244   1662
2020     24385  2773888697       1016.275867       267   1848
2021     24897  2390002182        963.880750       230   1657
2022     14100  1673268293        567.191067       111    955

In [11]:
df_drake_by_year.reset_index(inplace=True)

In [12]:
df_drake_by_year.drop(columns=['position', 'duration_minutes', 'explicit', 'month'], inplace=True)
df_drake_by_year

KeyError: "['position', 'duration_minutes', 'explicit', 'month'] not found in axis"

In [13]:
df_drake_by_year

   year     streams
0  2013    68171661
1  2014   110007292
2  2015  1252640045
3  2016  4204926700
4  2017  2468474843
5  2018  5743962743
6  2019  2359136353
7  2020  2773888697
8  2021  2390002182
9  2022  1673268293

In [14]:
df_drake_by_year.to_csv('drake_by_year.csv')

# Genres over the years

In [15]:
df.head()

,track_id,song_title,country,date,position,streams,artists,artist_genres,duration_minutes,explicit,year,month
0,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-07,44,2858282,Maroon 5,['pop'],3.998667,False,2014,9
1,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-14,42,3010512,Maroon 5,['pop'],3.998667,False,2014,9
2,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-21,44,2889074,Maroon 5,['pop'],3.998667,False,2014,9
3,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-10-26,120,1178667,Maroon 5,['pop'],3.998667,False,2014,10
4,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-11-02,141,1074373,Maroon 5,['pop'],3.998667,False,2014,11

In [16]:
df_pop = df[df['artist_genres'].str.contains("'pop'")]
df_pop

,track_id,song_title,country,date,position,streams,artists,artist_genres,duration_minutes,explicit,year,month
0,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-07,44,2858282,Maroon 5,['pop'],3.998667,False,2014,9
1,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-14,42,3010512,Maroon 5,['pop'],3.998667,False,2014,9
2,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-09-21,44,2889074,Maroon 5,['pop'],3.998667,False,2014,9
3,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-10-26,120,1178667,Maroon 5,['pop'],3.998667,False,2014,10
4,7GMeRGZax4uDKgz6wALWQw,It Was Always You,global,2014-11-02,141,1074373,Maroon 5,['pop'],3.998667,False,2014,11
...,...,...,...,...,...,...,...,...,...,...,...,...
86302,2Y0wPrPQBrGhoLn14xRYCG,Come & Go (with Marshmello),global,2021-05-06,194,5081846,"Juice WRLD, Marshmello","['progressive electro house', 'melodic rap', '...",3.424733,True,2021,5
86303,2Y0wPrPQBrGhoLn14xRYCG,Come & Go (with Marshmello),global,2021-05-13,196,5037124,"Juice WRLD, Marshmello","['progressive electro house', 'melodic rap', '...",3.424733,True,2021,5
86304,2Y0wPrPQBrGhoLn14xRYCG,Come & Go (with Marshmello),global,2021-08-12,102,6741666,"Juice WRLD, Marshmello","['progressive electro house', 'melodic rap', '...",3.424733,True,2021,8
86305,2Y0wPrPQBrGhoLn14xRYCG,Come & Go (with Marshmello),global,2021-08-19,129,6024340,"Juice WRLD, Marshmello","['progressive electro house', 'melodic rap', '...",3.424733,True,2021,8
86306,2Y0wPrPQBrGhoLn14xRYCG,Come & Go (with Marshmello),global,2021-08-26,173,5365602,"Juice WRLD, Marshmello","['progressive electro house', 'melodic rap', '...",3.424733,True,2021,8

In [17]:
df_pop_year = df_pop.groupby(['year']).agg('sum').sort_values('year', ascending=True)
df_pop_year

      position      streams  duration_minutes  explicit  month
year
2013      9451   1123201667       1705.351583        93   4767
2014    159258  10066655026      11060.128900       262  23984
2015    682173  24906620592      26540.915350      1350  49196
2016    664397  41179995033      26045.648100      1686  44802
2017    580764  47439552160      21978.645700      1504  38561
2018    501289  42267047203      18013.624133      1273  31861
2019    528223  49925161623      18094.561233      1292  35551
2020    521485  50346171021      17576.209983      1463  34189
2021    503939  53161419901      17594.764517      1741  34529
2022    421440  43176985517      14876.674283      1380  24348

In [26]:
genres = ['pop', 'metal', 'rock', 'punk', 'dance', 'electronic', 'rap', 'r&b', 'alternative', 'indie', 'jazz', 'classical']
df_all_genres = pd.DataFrame()

for genre in genres:
    df_temp = df[df['artist_genres'].str.contains(f"'{genre}'")]
    df_temp = df_temp.groupby(['year']).agg('sum').sort_values('year', ascending=True)
    df_temp.reset_index(inplace=True)
    df_temp.drop(columns=['position', 'duration_minutes', 'explicit', 'month'], inplace=True)
    df_temp['genre']=f'{genre}'
    df_all_genres = pd.concat([df_all_genres, df_temp])

In [41]:
genres = ['pop', 'metal', 'rock', 'punk', 'edm', 'electronic', 'rap', 'r&b', 'alternative rock']
df_all_genres = pd.DataFrame()

In [42]:
for genre in genres:
    df_temp = df[df['artist_genres'].str.contains(f"'{genre}'")]
    df_temp = df_temp.groupby(['year']).agg('sum').sort_values('year', ascending=True)
    df_temp.reset_index(inplace=True)
    df_temp.drop(columns=['position', 'duration_minutes', 'explicit', 'month'], inplace=True)
    df_temp['genre']=f'{genre}'
    df_all_genres = pd.concat([df_all_genres, df_temp])

In [43]:
df_all_genres

    year      streams             genre
0   2013   1123201667               pop
1   2014  10066655026               pop
2   2015  24906620592               pop
3   2016  41179995033               pop
4   2017  47439552160               pop
..   ...          ...               ...
4   2018     79375440  alternative rock
5   2019     13141481  alternative rock
6   2020     17605679  alternative rock
7   2021    185312136  alternative rock
8   2022    262425281  alternative rock

[72 rows x 3 columns]

In [44]:
df_all_genres.to_csv('genres_over_years.csv')